h2, h1{
    text-align: center;
}

.main-container{
    background-color: aquamarine;
    margin: auto ;
    width: 30%;
    height: 315px;
    padding: 50px;
    border: solid 10px rgb(26, 83, 64);
}

.inner-container{
    background-color: darkslategray;
    margin: auto;
    width: 90%;
    height: 300px;
    border: solid 10px black;
}

.display-inlineBlock{
    display: inline-block;
}

.mini-box{
    width: 10%;
    height: 50px;
    margin: 0;
}

.container{
    margin: auto;
    width: 40%;
    height: 600px;
}

.position-one{
    position: relative;
    top: 170px;
}
.position-two{
    position: relative;
    top: 340px;
}